@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins';
    transition: 0.2s ease-in-out;
}

header {
    width: 100%;
    background: transparent;
    height: 100px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li img {
    max-width: 250px;
    transition: 0.5s ease-in-out;
}

nav ul li img:hover {
    filter: drop-shadow(0px 0px 20px rgb(255, 0, 43));
}


nav ul li .mulheres {
    color: white;
    text-decoration: none;
    position: relative;
    max-width: max-content;
    transition: 0.2s ease-in-out;
    padding-left: 6px;
    padding-right: 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

nav ul li .mulheres:hover {
    text-shadow: 0 0 5px white;
}

nav ul li .mulheres::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 8%;
    background-color: white;
    transition: 0.2s ease-in-out;
    margin-left: 5px;
}

nav ul li .mulheres:hover::after {
    width: 100%;
}


#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(160deg, rgb(10, 0, 5), rgb(100, 3, 19), rgb(50, 2, 10));
    background-size: 300% 300%;
    animation: background_animation 10s ease-in-out infinite;
    transition: background 0.5s ease-in-out;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(145, 11, 34);
    border-radius: 10px;
}



@keyframes background_animation {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


#home .texto {
    display: flex;
    flex-direction: column;
}

#home .texto #slogan {
    margin-top: -35px;
    margin-bottom: 50px;
    font-size: 30px;
    letter-spacing: 7px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
    font-family: 'Courier New', Courier, monospace;
    animation: typing 3s steps(30) 3s infinite, blink 0.75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid white;
    max-width: max-content;
}

@keyframes typing {
    0% {
        width: 60%;
    }

    50% {
        width: 47%;
    }

    100% {
        width: 100%;
    }
}

@keyframes blink {

    0%,
    50%,
    100% {
        border-color: transparent;
    }

    25%,
    75% {
        border-color: white;
    }
}

#typing-text::after {
    content: "...";
    animation: changeText 24s steps(30) infinite, blink 0.75s step-end infinite;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes changeText {

    12.5% {
        content: "Liderança";
    }

    25% {
        content: "Inovação";
    }

    37.5% {
        content: "Transformação";
    }

    50% {
        content: "Tecnologia";
    }

    62.5% {
        content: "Liderança";
    }

    74.5% {
        content: "Empoderamento";
    }

    86.5% {
        content: "Equidade";
    }

    100% {
        content: "Diversidade";
    }
}

#home .texto h1 {
    font-size: 120px;
    text-align: left;
    padding-left: 50px;
    color: white;
    transition: 0.2s ease-in-out;
}

#home .texto p {
    max-width: 1500px;
    text-align: left;
    padding-left: 60px;
    color: white;
}

#home .texto #saiba_mais {
    padding: 10px 22px;
    border-radius: 20px;
    background-color: white;
    color: rgb(100, 3, 19);
    border: none;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 60px;
    width: 9%;
}

#home .texto #saiba_mais:hover {
    box-shadow: 0 0 30px rgb(255, 0, 43);
}

#home .texto #acessar_app {
    padding: 10px 10px;
    border-radius: 20px;
    background-color: white;
    color: rgb(100, 3, 19);
    border: none;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 60px;
    width: 9%;
}

#home .texto #acessar_app:hover {
    box-shadow: 0 0 30px rgb(255, 0, 43);
}

#Grace_Hopper,
#Ada_Lavelace,
#Margaret_Hamilton,
#Katherine_Johnson,
#Sônia_Guimarães,
#Radia_Perlman {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#Grace_Hopper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/Grace\ Hopper.png);
    background-position: center;
    background-size: cover;
    filter: brightness(0.5);
    z-index: -1;
}


#Grace_Hopper h1,
#Ada_Lavelace h1,
#Margaret_Hamilton h1,
#Katherine_Johnson h1,
#Sônia_Guimarães h1,
#Radia_Perlman h1 {
    color: white;
    font-size: 70px;
    text-align: center;
    transition: 0.2s ease-in-out;
}

#Grace_Hopper h1:hover,
#Ada_Lavelace h1:hover,
#Margaret_Hamilton h1:hover,
#Katherine_Johnson h1:hover,
#Radia_Perlman h1:hover,
#Sônia_Guimarães h1:hover {
    text-shadow: 0 0 50px white;
}

#Grace_Hopper p,
#Ada_Lavelace p,
#Margaret_Hamilton p,
#Katherine_Johnson p,
#Sônia_Guimarães p,
#Radia_Perlman p {
    color: white;
    text-align: center;
    max-width: 1000px;
}


#Ada_Lavelace::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/Ada\ Lovelace.png);
    background-position: center;
    background-size: cover;
    filter: brightness(0.5);
    z-index: -1;
}


#Margaret_Hamilton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/Margaret\ Hamilton.png);
    background-position: center;
    background-size: cover;
    filter: brightness(0.5);
    z-index: -1;
}



#Katherine_Johnson::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/Katherine\ Johnson.png);
    background-position: center;
    background-size: cover;
    filter: brightness(0.5);
    z-index: -1;
}


#Radia_Perlman::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/radia-perlman-a-visionaria-que-moldou-a-internet.webp);
    background-position: center;
    background-size: cover;
    filter: brightness(0.5);
    z-index: -1;
}


#Sônia_Guimarães::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/sonia_guimaraes.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(0.5);
    z-index: -1;
}

.info-section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.info-section.visible {
    opacity: 1;
    transform: translateY(0);
}